QMainWindow {
    background-color: #404040;
}

QPushButton {
    background-color: transparent;  /* No background color */
    border: none;  /* No border */
    background-color: #555;  /* Background color on hover */
    padding: 5px 10px;  /* Space around the text */
    color: white;  /* Text color */
    border-radius: 10px;  /* Rounded corners */
}
QPushButton:hover {
    background-color: #000000;  /* Background color on hover */
    color: #EEE;  /* Text color on hover */
    border-radius: 10px;
}


#selectButton {
    background-color: #002452;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    font-family: "Inter", Arial, sans-serif;  /* Fallback font */
    border-radius: 10px;
    font-weight: bold;

}

#selectButton:hover {
    background-color: #000000;
    color: #EEE;
    border-radius: 10px;
}

#saveButton {
    background-color: #002452;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    font-family: "Inter", Arial, sans-serif;  /* Fallback font */
    border-radius: 10px;
    font-weight: bold;
}

#selectButton:hover {
    background-color: #000000;
    color: #EEE;
    border-radius: 10px;
}

#welcomeLabel {
    font-weight: bold;
    padding: 15px, 15px;
    color: black;
    background-color: lightgrey;
    font-family: "Inter", Arial, sans-serif;  /* Fallback font */
    border-radius: 10px;
    font-size: 50px;
}

#instructionsLabel {
    font-weight: bold;
    padding: 1px;
    color: black;
    font-family: "Inter", Arial, sans-serif;  /* Fallback font */
    border-radius: 10px;
    font-size: 12px;
}

#acknowledgements {
    padding: 1px;
    color: rgb(255, 255, 255);
    font-family: "Inter", Arial, sans-serif;  /* Fallback font */
    font-size: 12px;
    font-style: italic;
}

h1 {
    
}